body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #131313;
    width: 100vw;
    max-width: 100%;
    user-select: none;
}
@keyframes animate {
    from {
        transform: translateY(30vh);
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
.animate {
    animation-name: animate;
    animation-duration: 0.6s;
    animation-fill-mode: backwards;
}
.main {
    width: 75%;
    margin: 0 auto;
}
.mainA {
    float: right;
}
#aToHome {
    position: fixed;
    top: 10%;
    right: 10%;
    z-index: 100;
    font-family: SFPro;
    font-weight: 800;
    color: white;
    text-decoration: none;
    font-size: 2vw;
    font-size:calc(16px + 1.5vw);
    transition: 0.3s;
}
.odnosniki {
    margin: 25vh 0 0 5vw;
}
.odnosniki a {
    display: block;
    font-family: Akira;
    color: white;
    width: 50%;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 4vw;
    transition: transform .6s cubic-bezier(0.2, 0.6, 0.2, 1);
}
.odnosniki a:hover {
    transform: translateX(100px);

}

@keyframes technology {
    from {
        transform: rotate(00deg);
    }
    to {
        transform: rotate(-30deg);
    }
}
#technology {
    position: absolute;
    z-index: -1;
    right: 200px;
    top: 200px;
    width: 25vw;
    /* animations */
    animation-name: technology;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}
.mainTitle {
    margin: 30vh 0 20vh 0;
    font-size: 600%;
    font-family: Akira;
    color: white;
}
#themeImage {
    display: block;
    position: absolute;
    width: 60vw;
    right: 0%;
}
.mainContent {
    margin: 0 0 100px 100px ;
    color: white;
}
.mainContent h1 {
    font-family: NeueMachina;
    font-weight: 900;
}
.mainContent p {
    font-family: SFPro;
    font-weight: 400;
    font-size: 200%;
    width: 80%;
}
.mainContent a {
    color: #2baf02;
    text-decoration: none;
    font-family: NeueMachina;
    font-weight: 600;
    font-size: 170%;
    display: block;
    margin: 20px 0 0 0;
    transition: 0.3s;
}
.mainContent a:hover {
    transform: translateX(50px);
} 
.mainContent h2 {
    font-family: NeueMachina;
    color: #2baf02;
}
.mainContent li {
    font-family: NeueMachina;
    list-style: circle;
    font-size: 120%;
    margin-top: 10px;
}

@media (max-width: 700px) {
    #technology {
        display: none;
    }
    .mainTitle {
        font-size: 10vw;
    }
    #themeImage {
        width: 90vw;
    }
    .mainContent {
        font-size: 10px;
        margin: 50vh 0 100px 0px ;
    }
}